Django==4.2.30
openpyxl==3.1.5
gunicorn==26.0.0
whitenoise==6.12.0
python-decouple==3.8
pandas==2.3.3
google-auth-oauthlib==1.4.0
google-auth-httplib2==0.4.0
google-api-python-client==2.196.0
django-ratelimit==4.1.0
tabulate==0.10.0
psycopg2-binary==2.9.12
django-crispy-forms==2.5
crispy-bootstrap5==2026.3